/*
 * layout css
 */

ul li.dropdown:hover .dropdown-menu {
    display: block;
}

.bill-mark-zone {
    border: 1px solid red;
}

.bill-sidebar {
    margin-top: 50px;
    background-color: aliceblue;
    /*border-right: 1px solid;*/
    height: auto;
}

.bill-content {
    margin-top: 60px;
}

.bill-footer {
    background: #ededed;
}
